body{
  background-color: #b3b3b3;
}

div.ActionBar{
  display: inline-block;
  background-color: #666666;
}

#logo{
  height: 50;
  width: 50;
}

button.ActionBarButton{
  background-color: #666666;
  border: none;
  color: white;
  padding: 15 32;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16;
  margin-left: 0px;
  font-family: Tahoma, Geneva, sans-serif;
}

button.ActionBarButton:active {
  background-color: #999999;
}

div.linearlayout_note{
  overflow:auto;
  margin: 20px;
  padding: 10px;
  background-color: #a6a6a6;
  color: black;
  font-size: 20;
}
